::-moz-selection {
  /* Code for Firefox */
  color: $primary;
  background-color: $dark;
}

::selection {
  color: $primary;
  background-color: $dark;
}


a {
  /* for underline */
  position: relative;
  display: inline-block;
}

a:before,
a:after {
  /* pseudo-element */
  content: "";
  position: absolute;

  transition: transform 0.5s ease;
}

a:hover {
  opacity: .8;
}

img {
  object-fit: cover;
}

// img:hover {
//   opacity: .9;
// }

span .material-symbols-outlined {
  // QQ
  font-size: 1rem;
  // font-size: inherit;
  vertical-align: middle;
}

// QQ
input:hover {
  border: 2px solid $danger;
}

// end of base