a {
  display: inline-block;
}

img {
  object-fit: cover;
}

a:hover {
  opacity: .8;
}

img:hover {
  opacity: .9;
}

span .material-symbols-outlined {
  font-style: inherit;
  vertical-align: middle;
}

// end of base