$--hero-pt: $--navbar-height + $--navbar-top;
$--hero-md-pt: $--navbar-md-height + $--navbar-md-top;

.page {
  height: calc(100vh - $--hero-pt);
  // padding-top: calc($--hero-pt + 16px);

  @include pad {
    height: calc(100vh - $--hero-md-pt);
    // padding-top: calc($--hero-md-pt + 32px);
  }
}

.size-8 {
  width: 32px;
  height: 32px;
}

.z-2 {
  z-index: 2;
}

.z-4 {
  z-index: 4;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

@include pad {
  .border-md-3 {
    border-width: 3px;
  }

  // QQ
  .border-md-none {
    // border: none;
    border-width: 0px;
  }

  // .navbar-collapse>.border-md-none {
  // border: none;
  // border: 2px solid $--color-bg;
  // z-index: 9;
  // border-width: 0px;
  // }
}