<footer class="footer border-3 border-top border-dark">
  <div class="container py-6 py-md-8 text-center">
    <small class="font-noto-tc">
      &copy; 7TAO 七逃. All Rights Reserved
    </small>
  </div>
</footer>