<nav
  class="navbar navbar-expand-lg pt-0 pb-3 border-bottom border-3 border-dark bg-light">
  <!-- QQ fixed-top -->
  <!-- QQ sticky-top -->
  <!-- QQ flex-nowrap -->
  <div class="container d-flex justify-content-between">
    <div class="navbar-group d-flex align-items-center">
      <a href="./index.html"
        class="navbar-brand d-flex align-items-center gap-4 py-0">
        <h1 class="h1-logo me-4">7TAO</h1>

        <p class="d-none d-md-flex align-items-center gap-1 my-0 fs-2">
          7TAO
          <span class="my-0 font-noto-serif-tc fw-bold fs-6">活動訂票網</span>
        </p>
      </a>

      <div class="input-group me-2 font-noto-tc">
        <input type="search" class="form-control" placeholder="探索活動"
          aria-label="探索活動" aria-describedby="button-search-events">

        <button class="btn btn-dark" type="button" id="button-search-events">
          <i class="icofont-search-1 text-primary"></i>
        </button>
      </div>
    </div>

    <button class="navbar-toggler border-1" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse flex-md-grow-0 navbar-collapse z-4 bg-light"
      id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-flex gap-6 fs-7"
        style="--bs-scroll-height: 767px;">
        <!-- QQ -->
        <!--  w-100 border-top border-bottom border-dark border-2 border-md-none -->
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">
            <i class="icofont-ui-file me-1"></i>
            REGISTER
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="./login.html">
            <i class="icofont-ui-user me-1"></i>
            LOGIN
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>