// #NOTE: 權重
body .btn-hover-primary {
  &:hover {
    color: $primary;
    background: $dark;
  }

  &:disabled {
    border: none;
    color: $--color-btn-disabled;
    background: $--color-btn-disabled-bg;
    cursor: not-allowed;

    // QQ
    &:hover {
      cursor: not-allowed;
    }
  }
}

// QQ
body .tag:hover {
  color: $white;
  background-color: $dark;
}