// #NOTE: 工具類別權重太大蓋不掉，要全部客製化

body .link {

  // & .badge:hover {
  //   color: $white;
  //   background-color: $dark;
  // }

  &-tag {
    border: 1px solid $dark;
    border-left: 4px solid $dark;

    color: $dark;
    transition: border-color 0.2s ease-out;

    &:hover {
      border: none;
      border-left: 4px solid $primary;

      color: $white;
      background-color: $dark;
    }
  }

  &-hover-effect {
    &:before {
      left: 0;
      bottom: 0;
      width: 100%;
      /* underline's height */
      height: 1.5px;

      background-color: $dark;
      // background-color: $--color-nav-link-hover;
      /* hidden */
      transform: scaleX(0);
    }

    &:hover:before {
      /* show */
      transform: scaleX(1);
    }
  }

  &-decoration-dark:hover {
    text-decoration: underline;
  }

  &-ellipse-primary {
    &::after {
      content: "";
      position: absolute;

      float: left;
      width: 29px;
      height: 29px;
      left: -10px;

      shape-outside: ellipse(50% 50%);
      clip-path: ellipse(50% 50%);
      background: $primary;

      opacity: 0;
      transition: opacity .1s linear;
      z-index: -1;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}


// end of link