.h1-logo {
  /* for h1 SEO */
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png) left center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 40px;
  height: 40px;

  /* push away */
  text-indent: 101%;
  /* avoid more lines */
  white-space: nowrap;
  overflow: hidden;

  @include pad {
    width: 53px;
    height: 53px;
  }
}

// end of h1-logo

// QQ
.header {
  z-index: 999;
}

.header .fixed-top {
  top: $--navbar-top;

  @include pad {
    top: $--navbar-md-top;
  }
}

.navbar {
  height: $--navbar-height;

  @include pad {
    height: $--navbar-md-height;
  }


  &-group {
    width: 75%;

    @include pad {
      width: 67%;
    }

    @include pc {
      width: 50%;
    }
  }
}

// end of navbar 