.recent-list {
  & .card-img-top {
    height: 210px;

    @include pad {
      height: 255px;
    }
  }

  & .card-footer {
    @include pad {
      padding-top: 12.5px;
      padding-bottom: 12.5px;
    }

    & .icon {
      width: 20px;
      height: 20px;

      @include pad {
        width: 24px;
        height: 24px;
      }
    }

  }

  // end of card-footer
}

// end of recent-list 

.online {
  &-img {
    width: 100%;
    height: 158px;

    @include pad {
      height: 317px;
    }
  }
}

// end of online

.albums {
  & .marquee {
    letter-spacing: 3.2px;
  }

  &-img {
    aspect-ratio: 1 / 1;
    // width: 267px;
    // height: 267px;

    // @include pad {
    // width: 274px;
    // height: 274px;
    // }
  }

  &-tag {
    margin-top: -36px;
    z-index: 3;

    &-rotate {
      transform: rotate(-4deg);
      z-index: 4;
    }
  }

  &-list-item {
    &:nth-child(even) {
      transform: rotate(2deg);
    }

    &:nth-child(3) {
      transform: rotate(-2deg);
    }
  }

}

// end of albums

.follow {
  &-card-item {
    &:nth-child(2) {
      @include pad {
        margin-left: -2px;
      }
    }
  }
}

.follow-list {
  & span {
    width: 32px;
    height: 32px;
  }
}