.recent-list {
  & .card-img-top {
    height: 210px;

    @include pad {
      height: 255px;
    }
  }

  & .card-footer {
    @include pad {
      padding-top: 12.5px;
      padding-bottom: 12.5px;
    }

    & .icon {
      width: 20px;
      height: 20px;

      @include pad {
        width: 24px;
        height: 24px;
      }
    }

  }

  // end of card-footer
}

// end of recent-list 

.online {
  &-img {
    width: 100%;
    height: 158px;

    @include pad {
      height: 317px;
    }
  }
}
// end of online

.marquee {
