<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <%- include('./layout/head'); -%>

    <title>EVENT | 7TAO</title>
</head>

<body>
  <%- include('./layout/navbar'); -%>

    <main class="main container pt-6 pt-md-15">
      <div class="row g-6 mb-6">
        <div class="col-12 col-md-10">
          <figure
            class="figure p-3 p-md-6 border border-2 border-md-3 border-dark">
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/09.jpg"
              class="event-img img-fluid" alt="event-img">
          </figure>
        </div>

        <div class="col-12 col-md-2 text-center fs-4 fs-md-custom-lg">
          <div class="row g-2 g-md-6 flex-md-column justify-content-between">
            <div class="col-4 col-md-12">
              <p class="my-0 py-6 border border-2 border-md-3 border-dark">
                2023
              </p>
            </div>

            <div class="col-8 col-md-12">
              <div
                class="position-relative d-flex justify-content-between align-items-center flex-md-column py-1 px-6 py-md-12 border border-2 border-md-3 border-dark">
                <p class="my-0 py-1 mb-md-28">
                  MAY
                  <br />
                  <span class="fs-custom-h5-plus fs-md-custom-lg">19</span>
                </p>

                <span class="event-date-time fs-md-2">
                  <p class="my-0 lh-1">12:00</p>
                  <p class="my-0 lh-1">|</p>
                  <p class="my-0 lh-1">20:00</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hgroup class="mb-md-12">
        <h2
          class="mb-2 mb-md-4 font-noto-serif-tc fs-2 fs-md-custom-2xl fw-bold">
          返老還童-制服聯誼
        </h2>

        <p class="mb-6 fs-custom-h5-plus font-noto-tc">
          穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！
        </p>

        <ul
          class="d-none d-md-flex gap-2 my-0 list-unstyled font-noto-serif-tc">
          <li>
            <a href="#" class="link-tag py-1 px-4 px-md-6">
              聯誼
            </a>
          </li>
          <li>
            <a href="#" class="link-tag py-1 px-4 px-md-6">
              美食
            </a>
          </li>
          <li>
            <a href="#" class="link-tag py-1 px-4 px-md-6">
              戶外
            </a>
          </li>
          <li>
            <a href="#" class="link-tag py-1 px-4 px-md-6">
              交通旅遊
            </a>
          </li>
        </ul>
      </hgroup>

      <article
        class="mb-6 mb-md-12 p-3 p-md-8 border border-2 border-md-3 border-dark font-noto-tc">
        <p>想回到過去？試著讓故事繼續？</p>
        <p>
          由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！
        </p>
        <p>
          活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶 &lt;3
        </p>
      </article>
    </main>

    <section class="ticket container mb-12 mb-md-15">
      <hgroup
        class="d-flex justify-content-between align-items-center mb-6 mb-md-8 py-6 px-8 border border-2 border-md-3 border-dark fs-4">
        <h2 class="fs-4 fs-md-custom-2xl">TICKET</h2>
        <p class="my-0 fs-md-2 fw-bold font-noto-serif-tc">購票資訊</p>
      </hgroup>

      <!-- <div class="table-responsive"> -->
      <table class="table table-hover align-middle">
        <thead>
          <tr class="font-noto-serif-tc border-2 border-bottom border-dark">
            <th scope="col">活動日期</th>
            <th scope="col">票種</th>
            <th scope="col">票價</th>
            <th scope="col" class="text-center">購票</th>
          </tr>
        </thead>

        <tbody class="font-noto-tc fs-8 fs-md-6">
          <tr>
            <th scope="row" class="fw-normal">2023/5/12</th>
            <td>普通票</td>
            <td>$600</td>
            <td class="text-end">
              <button type="button"
                class="btn btn-outline-dark py-2 px-3 px-md-6 fw-bold">
                <span class="d-none d-md-inline-flex fs-6 font-noto-serif-tc">
                  立即購票
                </span>
                <span class="d-md-none fs-8 font-noto-serif-tc">購票</span>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row" class="fw-normal">2023/5/12</th>
            <td>改頭換面票（含大改造）</td>
            <td>$3600</td>
            <td class="text-end">
              <button type="button"
                class="btn btn-outline-dark py-2 px-3 px-md-6 fw-bold">
                <span class="d-none d-md-inline-flex fs-6 font-noto-serif-tc">
                  立即購票
                </span>
                <span class="d-md-none fs-8 font-noto-serif-tc">購票</span>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row" class="fw-normal">2023/5/12</th>
            <td>必勝票（含戀愛小抄）</td>
            <td>$8000</td>
            <td class="text-end">
              <button type="button"
                class="btn btn-outline-dark py-2 px-3 px-md-6 fw-bold">
                <span class="d-none d-md-inline-flex fs-6 font-noto-serif-tc">
                  立即購票
                </span>
                <span class="d-md-none fs-8 font-noto-serif-tc">購票</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- </div> -->


    </section>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>