<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <%- include('./layout/head'); -%>

    <title>7TAO</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <section class="recent container mb-2 mb-md-3">
      <hgroup
        class="d-flex justify-content-between align-items-center mb-6 mb-md-8 py-6 px-8 border border-2 border-md-3 border-dark fs-4">
        <h2 class="fs-4 fs-md-custom-2xl">RECENT</h2>
        <p class="my-0 fs-md-2 fw-bold font-noto-serif-tc">近期活動</p>
      </hgroup>

      <ul class="recent-list row row-cols-1 row-cols-md-3 g-6 list-unstyled">

        <li class="col mb-6 mb-md-12">
          <div class="card h-100">
            <h3
              class="card-title pb-2 pb-md-3 mb-4 mb-md-3 fs-2 fs-md-custom-lg border-3 border-dark border-bottom">
              19 MAY 2023
            </h3>

            <div class="card-body mb-4">
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/01.jpg"
                class="card-img-top mb-2 mb-md-3" alt="event-img">

              <h4 class="mb-2 mb-md-3 fs-7 fw-bold font-noto-serif-tc">
                邪典電影派對——房間
              </h4>

              <p class="card-text font-noto-tc">
                你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，...
              </p>
            </div>

            <div class="card-footer py-2 d-flex justify-content-between
            border-2 border-dark border-top border-bottom fw-bold">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="icon" class="icon">
                <a href="#"
                  class="link-hover-effect text-dark font-noto-serif-tc">
                  社群活動
                </a>
              </div>

              <a href="#"
                class="link-ellipse-primary position-relative d-flex align-items-center gap-1 text-dark font-noto-tc">
                開賣中
                <span class="material-symbols-outlined">
                  keyboard_double_arrow_right
                </span>
              </a>
            </div>
          </div>
          <!-- end of card -->
        </li>

        <li class="col mb-6 mb-md-12">
          <div class="card h-100">
            <h3
              class="card-title pb-2 pb-md-3 mb-4 mb-md-3 fs-2 fs-md-custom-lg border-3 border-dark border-bottom">
              23 MAY 2023
            </h3>

            <div class="card-body mb-4">
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/02.jpg"
                class="card-img-top mb-2 mb-md-3" alt="event-img">

              <h4 class="mb-2 mb-md-3 fs-7 fw-bold font-noto-serif-tc">
                怪舞俱樂部
              </h4>

              <p class="card-text font-noto-tc">
                覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
              </p>
            </div>

            <div class="card-footer py-2 d-flex justify-content-between
            border-2 border-dark border-top border-bottom fw-bold">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="icon" class="icon">
                <a href="#"
                  class="link-hover-effect text-dark font-noto-serif-tc">
                  演出
                </a>
              </div>

              <a href="#"
                class="link-ellipse-primary position-relative d-flex align-items-center gap-1 text-dark font-noto-tc">
                檢視活動
                <span class="material-symbols-outlined">
                  keyboard_double_arrow_right
                </span>
              </a>
            </div>
          </div>
          <!-- end of card -->
        </li>

        <li class="col mb-6 mb-md-12">
          <div class="card h-100">
            <h3
              class="card-title pb-2 pb-md-3 mb-4 mb-md-3 fs-2 fs-md-custom-lg border-3 border-dark border-bottom">
              30 MAY 2023
            </h3>

            <div class="card-body mb-4">
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/03.jpg"
                class="card-img-top mb-2 mb-md-3" alt="event-img">

              <h4 class="mb-2 mb-md-3 fs-7 fw-bold font-noto-serif-tc">
                哈利波特馬拉松
              </h4>

              <p class="card-text font-noto-tc">
                每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
              </p>
            </div>

            <div class="card-footer py-2 d-flex justify-content-between
            border-2 border-dark border-top border-bottom fw-bold">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="icon" class="icon">
                <a href="#"
                  class="link-hover-effect text-dark font-noto-serif-tc">
                  聯誼
                </a>
              </div>

              <a href="#"
                class="link-ellipse-primary position-relative d-flex align-items-center gap-1 text-dark font-noto-tc">
                開賣中
                <span class="material-symbols-outlined">
                  keyboard_double_arrow_right
                </span>
              </a>
            </div>
          </div>
          <!-- end of card -->
        </li>

        <li class="col mb-6 mb-md-12">
          <div class="card h-100">
            <h3
              class="card-title pb-2 pb-md-3 mb-4 mb-md-3 fs-2 fs-md-custom-lg border-3 border-dark border-bottom">
              12 June 2023
            </h3>

            <div class="card-body mb-4">
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/04.jpg"
                class="card-img-top mb-2 mb-md-3" alt="event-img">

              <h4 class="mb-2 mb-md-3 fs-7 fw-bold font-noto-serif-tc">
                皮卡丘排球大賽
              </h4>

              <p class="card-text font-noto-tc">
                還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
              </p>
            </div>

            <div class="card-footer py-2 d-flex justify-content-between
            border-2 border-dark border-top border-bottom fw-bold">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="icon" class="icon">
                <a href="#"
                  class="link-hover-effect text-dark font-noto-serif-tc">
                  遊戲競賽
                </a>
              </div>

              <a href="#"
                class="link-ellipse-primary position-relative d-flex align-items-center gap-1 text-dark font-noto-tc">
                開賣中
                <span class="material-symbols-outlined">
                  keyboard_double_arrow_right
                </span>
              </a>
            </div>
          </div>
          <!-- end of card -->
        </li>

        <li class="col mb-6 mb-md-12">
          <div class="card h-100">
            <h3
              class="card-title pb-2 pb-md-3 mb-4 mb-md-3 fs-2 fs-md-custom-lg border-3 border-dark border-bottom">
              25 June 2023
            </h3>

            <div class="card-body mb-4">
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/05.jpg"
                class="card-img-top mb-2 mb-md-3" alt="event-img">

              <h4 class="mb-2 mb-md-3 fs-7 fw-bold font-noto-serif-tc">
                酒精路跑
              </h4>

              <p class="card-text font-noto-tc">
                身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
              </p>
            </div>

            <div class="card-footer py-2 d-flex justify-content-between
            border-2 border-dark border-top border-bottom fw-bold">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="icon" class="icon">
                <a href="#"
                  class="link-hover-effect text-dark font-noto-serif-tc">
                  社群活動
                </a>
              </div>

              <a href="#"
                class="link-ellipse-primary position-relative d-flex align-items-center gap-1 text-dark font-noto-tc">
                開賣中
                <span class="material-symbols-outlined">
                  keyboard_double_arrow_right
                </span>
              </a>
            </div>
          </div>
          <!-- end of card -->
        </li>

        <li class="col mb-6 mb-md-12">
          <div class="card h-100">
            <h3
              class="card-title pb-2 pb-md-3 mb-4 mb-md-3 fs-2 fs-md-custom-lg border-3 border-dark border-bottom">
              09 July 2023
            </h3>

            <div class="card-body mb-4">
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/06.jpg"
                class="card-img-top mb-2 mb-md-3" alt="event-img">

              <h4 class="mb-2 mb-md-3 fs-7 fw-bold font-noto-serif-tc">
                展覽——我的房間
              </h4>

              <p class="card-text font-noto-tc">
                每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
              </p>
            </div>

            <div class="card-footer py-2 d-flex justify-content-between
            border-2 border-dark border-top border-bottom fw-bold">
              <div class="d-flex align-items-center gap-1">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="icon" class="icon">
                <a href="#"
                  class="link-hover-effect text-dark font-noto-serif-tc">
                  展覽
                </a>
              </div>

              <a href="#"
                class="link-ellipse-primary position-relative d-flex align-items-center gap-1 text-dark font-noto-tc">
                開賣中
                <span class="material-symbols-outlined">
                  keyboard_double_arrow_right
                </span>
              </a>
            </div>
          </div>
          <!-- end of card -->
        </li>

      </ul>
    </section>
    <!-- end of recent -->

    <section class="online container mb-8 mb-md-15">
      <hgroup
        class="d-flex justify-content-between align-items-center mb-6 mb-md-8 py-6 px-8 border border-2 border-md-3 border-dark fs-4">
        <h2 class="fs-4 fs-md-custom-2xl">ONLINE</h2>
        <p class="my-0 fs-md-2 fw-bold font-noto-serif-tc">線上活動</p>
      </hgroup>


      <div class="row g-3 g-md-6">
        <div class="col-md-7">
          <div class="card h-100 position-relative">
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/online.jpg"
              alt="online-img" class="online-img">
          </div>
        </div>
        <!-- end of col-md-7 -->

        <div class="col-md-5">
          <div class="card h-100">
            <section class="card-body">
              <h3
                class="card-title mb-2 mb-md-4 font-noto-serif-tc fs-7 fs-md-2 fw-bold">
                切特居批踢
              </h3>

              <ul
                class="d-flex list-unstyled mb-3 mb-md-8 font-noto-serif-tc fw-bold fs-8 fs-md-base gap-2">

                <li>
                  <a href="#"
                    class="online-tag-link border-3 border-start border-dark">
                    <span
                      class="badge py-2 px-4 px-md-6 bg-light border border-dark text-dark">
                      競賽
                    </span>
                  </a>
                </li>

                <li class="border-3 border-start border-dark">
                  <a href="#"
                    class="tag py-1 px-4 px-md-6 border border-dark text-dark">
                    科技
                  </a>
                </li>
                <li class="border-3 border-start border-dark">
                  <a href="#"
                    class="py-1 px-4 px-md-6 border border-dark text-dark">
                    有趣
                  </a>
                </li>
              </ul>

              <p class="card-text mb-3 mb-md-8 font-noto-tc fs-md-5">
                最近網路上很流行的 AI 程式
                ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br />
                這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br />
                該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
              </p>

              <button type="button"
                class="d-block w-100 py-4 py-md-2 text-center text-white bg-dark font-noto-tc fw-bold btn-hover-primary border-0">
                <p
                  class="my-0 d-inline-flex gap-1 align-items-center btn-hover-primary">
                  查看活動詳情
                  <span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                  </span>
                </p>
              </button>
            </section>
            <!-- end of card-body -->
          </div>
        </div>
        <!-- end of col-md-5 -->
      </div>
      <!-- end of row -->
    </section>
    <!-- end of online -->

    <section class="albums">
      <div class="marquee mb-12 mb-md-15 bg-dark">
        <div
          class="marquee-content font-noto-serif-tc fw-bold fs-md-4 text-primary">
          <span class="item-collection-1">
            <ul class="marqee-list d-flex list-unstyled my-0">
              <li class="py-4 py-md-6">
                活動集錦・ALBUMS・活動集錦・ALBUMS・
                活動集錦・ALBUMS・活動集錦・ALBUMS・
              </li>
              <li class="py-4 py-md-6">
                活動集錦・ALBUMS・活動集錦・ALBUMS・
                活動集錦・ALBUMS・活動集錦・ALBUMS・
              </li>
            </ul>
          </span>

          <span class="item-collection-2">
            <ul class="marqee-list d-flex list-unstyled my-0">
              <li class="py-4 py-md-6">
                活動集錦・ALBUMS・活動集錦・ALBUMS・
                活動集錦・ALBUMS・活動集錦・ALBUMS・
              </li>
              <li class="py-4 py-md-6">
                活動集錦・ALBUMS・活動集錦・ALBUMS・
                活動集錦・ALBUMS・活動集錦・ALBUMS・
              </li>
            </ul>
          </span>
        </div>
      </div>
      <!-- end of marquee -->

      <div class="container mb-md-10">
        <ul
          class="row albums-list list-unstyled justify-content-center g-4 font-noto-serif-tc fw-bold">
          <li class="col-11 col-md-3 albums-list-item mb-8">
            <div
              class="card border border-2 border-dark p-3 p-md-4 pb-8 pb-md-12 h-100">

              <div class="albums-tag-rotate z-2">
                <p
                  class="albums-tag mt-n5 position-absolute start-50 translate-middle top-0 py-2 px-4 bg-white">
                  社群活動
                </p>
              </div>


              <figure class="figure">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/01.jpg"
                  class="figure-img img-fluid albums-img mb-3 mb-md-4 aspect-square"
                  alt="albums-img">

                <figcaption class="figure-caption fs-7">
                  無聲派對-閉閉嘴 dancing
                </figcaption>
              </figure>
            </div>
          </li>

          <li class="col-11 col-md-3 albums-list-item mb-8">
            <div
              class="card border border-2 border-dark p-3 p-md-4 pb-8 pb-md-12 h-100">

              <div class="albums-tag-rotate z-2">
                <p
                  class="albums-tag mt-n5 position-absolute start-50 translate-middle top-0 py-2 px-4 bg-white">
                  藝文活動
                </p>
              </div>


              <figure class="figure">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/02.jpg"
                  class="figure-img img-fluid albums-img mb-3 mb-md-4 aspect-square"
                  alt="albums-img">

                <figcaption class="figure-caption fs-7">
                  拯救老店大作戰
                </figcaption>
              </figure>
            </div>
          </li>

          <li class="col-11 col-md-3 albums-list-item mb-8">
            <div
              class="card border border-2 border-dark p-3 p-md-4 pb-8 pb-md-12 h-100">

              <div class="albums-tag-rotate z-2">
                <p
                  class="albums-tag mt-n5 position-absolute start-50 translate-middle top-0 py-2 px-4 bg-white">
                  自我覺察
                </p>
              </div>


              <figure class="figure">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/03.jpg"
                  class="figure-img img-fluid albums-img mb-3 mb-md-4 aspect-square"
                  alt="albums-img">

                <figcaption class="figure-caption fs-7">
                  內觀修行-部落篇
                </figcaption>
              </figure>
            </div>
          </li>

          <li class="col-11 col-md-3 albums-list-item mb-8">
            <div
              class="card border border-2 border-dark p-3 p-md-4 pb-8 pb-md-12 h-100">

              <div class="albums-tag-rotate z-2">
                <p
                  class="albums-tag mt-n5 position-absolute start-50 translate-middle top-0 py-2 px-4 bg-white">
                  聯誼活動
                </p>
              </div>


              <figure class="figure">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/album/04.jpg"
                  class="figure-img img-fluid albums-img mb-3 mb-md-4 aspect-square"
                  alt="albums-img">

                <figcaption class="figure-caption fs-7">
                  賞櫻野餐
                </figcaption>
              </figure>
            </div>
          </li>

        </ul>
      </div>

      <div
        class="marquee-wrapper mb-12 mb-md-15 bg-dark font-noto-serif-tc fw-bold fs-md-4 text-primary">
        <div class="marquee-inner to-right">
          <ul class="marqee-list d-flex list-unstyled my-0">
            <li class="marquee-item py-4 py-md-6">
              活動集錦・ALBUMS・活動集錦・ALBUMS・
              活動集錦・ALBUMS・活動集錦・ALBUMS・
            </li>
            <li class="marquee-item py-4 py-md-6">
              活動集錦・ALBUMS・活動集錦・ALBUMS・
              活動集錦・ALBUMS・活動集錦・ALBUMS・
            </li>
          </ul>

          <ul class="marqee-list d-flex list-unstyled my-0">
            <li class="marquee-item py-4 py-md-6">
              活動集錦・ALBUMS・活動集錦・ALBUMS・
              活動集錦・ALBUMS・活動集錦・ALBUMS・
            </li>
            <li class="marquee-item py-4 py-md-6">
              活動集錦・ALBUMS・活動集錦・ALBUMS・
              活動集錦・ALBUMS・活動集錦・ALBUMS・
            </li>
          </ul>
        </div>
      </div>
      <!-- end of marquee -->
    </section>
    <!-- end of albums -->

    <section class="follow container mb-12 mb-md-15">
      <ul class="row row-cols-1 row-cols-md-2 g-6 g-md-0 list-unstyled">

        <li class="col follow-card-item">
          <div class="card border border-2 border-dark h-100">
            <h2
              class="card-title py-4 px-3 px-md-8 fs-4 font-noto-serif-tc fw-bold border-2 border-bottom border-dark">
              #FOLLOW US
            </h2>

            <div class="card-body py-4 px-3 px-md-8 py-md-8">
              <p class="card-text mb-4 mb-md-8 font-noto-tc">
                想第一時間獲得新奇有趣的活動資訊？<br />
                追蹤我們的社群吧！<br />
                也歡迎你聯繫我們，提供好玩有趣的活動企劃。
              </p>

              <ul
                class="follow-list list-unstyled font-noto-tc d-flex flex-column gap-4">
                <li>
                  <div class="d-inline-flex gap-4 align-items-center">
                    <span
                      class="d-inline-flex align-items-center justify-content-center size-8 bg-dark text-white">
                      <i class="icofont-ui-email"></i>
                    </span>
                    <a href="mailto:service@hexschool.com"
                      class="link-hover-effect text-dark">
                      7tao.event@gmail.com
                    </a>
                  </div>
                </li>

                <li>
                  <div class="d-inline-flex gap-4 align-items-center">
                    <span
                      class="d-inline-flex align-items-center justify-content-center size-8 bg-dark text-white">
                      <i class="icofont-phone"></i>
                    </span>
                    <a href="tel:+88672225881"
                      class="link-hover-effect text-dark">
                      09123123123
                    </a>
                  </div>
                </li>

                <li>
                  <div class="d-inline-flex gap-4 align-items-center">
                    <span
                      class="d-inline-flex align-items-center justify-content-center size-8 bg-dark text-white">
                      <i class="icofont-facebook"></i>
                    </span>
                    <a href="https://www.facebook.com/hexschool" target="_blank"
                      rel="noopener noreferrer"
                      class="link-hover-effect text-dark">
                      7TAO 七逃
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="col follow-card-item ms-n2">
          <div class="card border border-2 border-dark h-100">
            <h2
              class="card-title py-4 px-3 px-md-8 fs-4 font-noto-serif-tc fw-bold border-2 border-bottom border-dark">
              #SUBSCRIBE US
            </h2>

            <div class="card-body py-4 px-3 px-md-8 py-md-8 font-noto-tc">
              <p class="card-text mb-4 mb-md-8">
                訂閱電子報送折價券！<br />
                定期精選文章資訊及最新優惠資訊，<br />
                還不通通給我訂閱起來？
              </p>

              <div class="form-group">
                <label for="subscribe-input" class="form-label">
                </label>
                <input type="email" class="form-control py-4 px-6"
                  id="subscribe-input" placeholder="輸入 Email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$
                  ">
              </div>
            </div>

            <div class="card-footer font-noto-tc">
              <!-- <button type="button"
                class="d-flex w-100 gap-1 justify-content-center align-items-center p-4 p-md-2 text-white bg-dark border-0 btn-hover-primary">
                確認訂閱
                <span class="material-symbols-outlined">
                  keyboard_double_arrow_right
                </span>
              </button> -->

              <button type="button"
                class="d-block w-100 py-4 py-md-2 text-center text-white bg-dark font-noto-tc fw-bold btn-hover-primary border-0">
                <p
                  class="my-0 d-inline-flex gap-1 align-items-center btn-hover-primary">
                  確認訂閱
                  <span class="material-symbols-outlined">
                    keyboard_double_arrow_right
                  </span>
                </p>
              </button>
            </div>
          </div>
        </li>

      </ul>
    </section>
    <!-- end of follow -->

    <section class="motto border-3 border-top border-dark">
      <figure
        class="container py-12 py-md-15 text-center font-noto-serif-tc fw-bold">
        <blockquote class="blockquote mb-3 mb-md-4">
          <p class="fs-7 fs-md-4">
            此刻打盹，你將做夢；此刻學習，你將圓夢
          </p>
        </blockquote>

        <figcaption class="blockquote-footer fs-8 fs-md-7 text-dark">
          我也不知道誰說的
        </figcaption>
      </figure>
    </section>
    <!-- end of motto -->

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>